.board {
    border-collapse: collapse;
    margin: 20px;
}

.square {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

.square.odd {
    background-color: lightgrey;
}

.square.selected {
    background-color: blue;
}

.square.eligible {
    background-color: green;
}